# Visual Studio
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
/.vs

# Makefile
Makefile

# Build Dirs
*/int
/bin

# Binaries
*.exe
*.lib
*.dll
*.pdb

# Premake Exception
!premake5.exe

# Required Library Exceptions
!yaml-cpp-d.lib
!yaml-cpp.lib

# Personal test files
*/appdata
*/timecard.yaml
*/.tc_backup